<div id="displayPanel">
        <div *ngIf="percentageData; else noData"
             class="display-container">
                <mat-tab-group>
                        <mat-tab [label]="'DISPLAY_PANEL.PERCENTAGE_CHART' | translate">
                                <canvas baseChart
                                        height="100"
                                        [data]="percentageData"
                                        [labels]="percentageChartLabels"
                                        chartType="pie"></canvas>
                        </mat-tab>
                        <mat-tab [label]="'DISPLAY_PANEL.POPULATION_CHART' | translate">
                                <canvas baseChart
                                        height="100"
                                        [datasets]="populationData"
                                        [labels]="populationChartLabels"
                                        [options]="populationChartOptions"
                                        [legend]="true"
                                        chartType="line"></canvas>
                        </mat-tab>
                </mat-tab-group>

                <mat-card>
                        <p>{{ 'DISPLAY_PANEL.GAME_PROGRESS' | translate }}: {{ gameProgress }}%</p>
                        <mat-progress-bar [value]="gameProgress"></mat-progress-bar>
                </mat-card>
        </div>

        <ng-template #noData>
                <p class="mat-body-1">
                        {{ 'DISPLAY_PANEL.GAME_START_FIRST' | translate }}
                </p>
        </ng-template>
</div>