<mat-toolbar color="primary"
             class="toolbar">
    <button mat-icon-button
            (click)="initForm.toggle()">
        <mat-icon *ngIf="initFormPanelOpened">arrow_back_ios</mat-icon>
        <mat-icon *ngIf="!initFormPanelOpened">arrow_forward_ios</mat-icon>
    </button>
    <h1 id="logoTitle">ESS Game</h1>

    <!-- This fills the remaining space of the current row -->
    <span class="fill-remaining-space"></span>


    <span class="right-toolbar-group">
        <button mat-button
                (click)="openTutorial()">
            {{ 'TUTORIAL.TITLE' | translate }}
        </button>
        <local-select></local-select>
    </span>
</mat-toolbar>

<mat-sidenav-container class="app-container">
    <mat-sidenav #initForm
                 mode="side"
                 [(opened)]="initFormPanelOpened"
                 class="init-form-container">
        <mat-card class="column"
                  style="background-color:rgb(235, 198, 198);">
            <mat-card-content>
                <init-game-form></init-game-form>
            </mat-card-content>
        </mat-card>
    </mat-sidenav>

    <mat-sidenav-content class="display-container">
        <mat-card class="column"
                  style="background-color:rgb(211, 163, 141);">
            <mat-card-content>
                <display-game-state></display-game-state>
            </mat-card-content>
        </mat-card>
    </mat-sidenav-content>
</mat-sidenav-container>