<mat-toolbar color="primary"
             class="toolbar">
    <sidenav-button [for]="initForm"></sidenav-button>
    <h1 id="logoTitle">ESS Game</h1>

    <!-- This fills the remaining space of the current row -->
    <span class="fill-remaining-space"></span>

    <span class="right-toolbar-group">
        <button mat-button
                (click)="openTutorial()">
            {{ 'TUTORIAL.TITLE' | translate }}
        </button>
        <local-select></local-select>
    </span>
</mat-toolbar>

<mat-drawer-container class="app-container">
    <mat-drawer #initForm
                mode="side"
                opened="true"
                class="init-form-container">
        <mat-card class="column">
            <mat-card-content>
                <init-game-form></init-game-form>
            </mat-card-content>
        </mat-card>
    </mat-drawer>

    <mat-drawer-content class="display-container">
        <mat-card class="column">
            <mat-card-content>
                <display-game-state></display-game-state>
            </mat-card-content>
        </mat-card>
    </mat-drawer-content>
</mat-drawer-container>

 <i18n></i18n> <!-- Localization turn-on -->