.toolbar {
    height: 40px;
    margin-left: 10px;
    margin-right: 10px;  
    width: inherit;
}

.fill-remaining-space {
    /* This fills the remaining space, by using flexbox. 
       Every toolbar row uses a flexbox row layout. */
    flex: 1 1 auto;
}

#logoTitle {
    margin-left: 8px;
}

.app-container {
    display: flex;
    flex-direction: column;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
  }
  
  /* Clear floats after the columns */
  .app-container:after {
    content: "";
    display: table;
    clear: both;
  }
  
  /* Create two unequal columns that floats next to each other */
  .column {
    margin: 10px;
    min-height: 650px;
  }

  .init-form-container {
      width: 30%;
  }