/* You can add global styles to this file, and also import other style files */

@import '~@angular/material/prebuilt-themes/indigo-pink.css';
@import 'https://fonts.googleapis.com/css?family=Roboto:300,400,500';
@import 'https://fonts.googleapis.com/icon?family=Material+Icons';

* {
    box-sizing: border-box;
}

.row {
  display: flex;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Create two unequal columns that floats next to each other */
.column {
  margin: 10px;
}

.left {
  float: left;
  width: 25%;
}

.right {
  float: right;
  width: 75%;
}