<form #f="ngForm"
      (ngSubmit)="goGame(f.value)">
    <mat-form-field class="form-field">
        <input type="number"
               [(ngModel)]="simpletonsPercent"
               name="simpletonsPercent"
               #sPer="ngModel"
               matInput
               placeholder="Percentage of simpletons"
               [range]="[0,100]"
               digits
               required>
        <span matSuffix>%</span>
        <mat-error *ngIf="sPer.errors?.required">The percentage is required.</mat-error>
        <mat-error *ngIf="sPer.errors?.range">The percent needs to be between 0 and 100.</mat-error>
        <mat-error *ngIf="sPer.errors?.digits">Percentage needs to be integer, not decimal.</mat-error>
    </mat-form-field>
    <mat-form-field class="form-field">
        <input type="number"
               [(ngModel)]="knavesPercent"
               name="knavesPercent"
               #kPer="ngModel"
               matInput
               placeholder="Percentage of knaves"
               [range]="[0,100]"
               digits
               required>
        <span matSuffix>%</span>
        <mat-error *ngIf="kPer.errors?.required">The percentage is required.</mat-error>
        <mat-error *ngIf="kPer.errors?.range">The percent needs to be between 0 and 100.</mat-error>
        <mat-error *ngIf="kPer.errors?.digits">Percentage needs to be integer, not decimal.</mat-error>
    </mat-form-field>
    <mat-form-field class="form-field">
        <input type="number"
               matInput
               disabled="true"
               placeholder="Percentage of vindictive"
               [value]="vindictivePercent">
        <span matSuffix>%</span>
    </mat-form-field>

    <button mat-raised-button
            [disabled]="f.invalid || gameIsRunning">Go!</button>
</form>