
$marginBetweenSettAndButtons: 15px;

@mixin margin-vert($margin) {
    margin-top: $margin;
    margin-bottom: $margin;
  }
  

.settings {
    margin-bottom: $marginBetweenSettAndButtons;
}

.buttons {
    margin-top: $marginBetweenSettAndButtons;
}

.invalidPanel {
    background-color: pink;
    border-width: 1px;
    border-style: solid;
    border-color: red;
}

.form-group > * {
    width: 100%;
    @include margin-vert(10px);
}

.adv-sett-field-group > * {
    width: 100%;
    @include margin-vert(5px);
}