@import '~common.scss';

$marginBetweenSettAndButtons: 15px;

@mixin margin-vert($margin) {
    margin-top: $margin;
    margin-bottom: $margin;
  }
  

.settings {
    margin-bottom: $marginBetweenSettAndButtons;
}

.buttons {
    margin-top: $marginBetweenSettAndButtons;
}

.invalidPanel {
    background-color: pink;
    border-width: 1px;
    border-style: solid;
    border-color: red;
}

.form-group{
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 15px 15px 0px 15px;
    border-width: 1px;
    border-radius: 3px;
    border-style: solid;
    border-color: lightgrey;
}

.form-group > * {
    width: 100%;
    @include margin-vert(10px);
}

.adv-sett-field-group > * {
    width: 100%;
    @include margin-vert(5px);
}

.settings-expansion-panel {
    background-color: darken($color: $backgroundColor, $amount: 50%);
}