
$marginBetweenSettAndButtons: 15px;

.settings {
    margin-bottom: $marginBetweenSettAndButtons;
}

.buttons {
    margin-top: $marginBetweenSettAndButtons;
}

.invalidPanel {
    background-color: pink;
    border-width: 1px;
    border-style: solid;
    border-color: red;
}

.form-group > * {
    width: 100%;
    margin-top: 10px;
    margin-bottom: 10px;
}

.random-seed-group {
    display: flex;
    flex-wrap: wrap;
}

.random-seed-group > * {
    width: 100%;
    margin-top: 5px;
    margin-bottom: 5px;
}